<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_movement})}|">Show Movement - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${movement}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_movement})}">Show Movement</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_movement})}">Movement data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="movement-mitem-field" data-z="3de1d6c4">
            	      <strong data-th-text="#{label_movement_mitem}">mItem</strong>
                    <span data-th-text="*{{mItem}}">mItemValue</span>
         	        </li>
                  <li id="movement-permanentlocation-field" data-z="fe16e6e4">
            	      <strong data-th-text="#{label_movement_permanentlocation}">permanentLocation</strong>
                    <span data-th-text="*{{permanentLocation}}">permanentLocationValue</span>
         	        </li>
                  <li id="movement-currentlocation-field" data-z="d10146c4">
            	      <strong data-th-text="#{label_movement_currentlocation}">currentLocation</strong>
                    <span data-th-text="*{{currentLocation}}">currentLocationValue</span>
         	        </li>
                  <li id="movement-locationnotes-field" data-z="ad66b804">
            	      <strong data-th-text="#{label_movement_locationnotes}">locationNotes</strong>
                    <span data-th-text="*{{locationNotes}}">locationNotesValue</span>
         	        </li>
                  <li id="movement-movementnotes-field" data-z="6f6e6744">
            	      <strong data-th-text="#{label_movement_movementnotes}">movementNotes</strong>
                    <span data-th-text="*{{movementNotes}}">movementNotesValue</span>
         	        </li>
                  <li id="movement-barcode-field" data-z="1af0fd64">
            	      <strong data-th-text="#{label_movement_barcode}">barcode</strong>
                    <span data-th-text="*{{barcode}}">barcodeValue</span>
         	        </li>
                  <li id="movement-requestnumberbarcode-field" data-z="3dbe063a">
            	      <strong data-th-text="#{label_movement_requestnumberbarcode}">requestNumberBarcode</strong>
                    <span data-th-text="*{{requestNumberBarcode}}">requestNumberBarcodeValue</span>
         	        </li>
                  <li id="movement-barcodevalidation-field" data-z="75156424">
            	      <strong data-th-text="#{label_movement_barcodevalidation}">barcodeValidation</strong>
                    <span data-th-text="*{{barcodeValidation}}">barcodeValidationValue</span>
         	        </li>
                  <li id="movement-createddate-field" data-z="d3b5f444">
            	      <strong data-th-text="#{label_movement_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="movement-createdby-field" data-z="c6f22864">
            	      <strong data-th-text="#{label_movement_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="movement-modifieddate-field" data-z="1104bfba">
            	      <strong data-th-text="#{label_movement_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="movement-modifiedby-field" data-z="3d49595a">
            	      <strong data-th-text="#{label_movement_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Movement_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('MovementsItemThymeleafController').to('editForm').with('movement', movement.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="Movement_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('MovementsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
