<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_exhibitionitem})}">
    Edit ExhibitionItem - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('ExhibitionItemsCollectionThymeleafController')},itemLink=${@linkBuilder.of('ExhibitionItemsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_exhibitionitem})}">Edit ExhibitionItem</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${exhibitionItem}" data-th-action="${itemLink.to('update').with('exhibitionItem', exhibitionItem.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div class="alert alert-warning" data-th-if="${concurrency}">
              <h2 data-th-text="#{label_concurrency_title}">Warning! This record has been updated by an other user.</h2>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="apply"> <span data-th-text="#{label_concurrency_apply}">Apply my changes anyway</span> <i><span data-th-text="#{label_concurrency_apply_info}">(discard all the changes applied by the other users).</span></i>
                </input></label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="discard" checked=""> <span data-th-text="#{label_concurrency_discard}">Discard all my changes and reload this record.</span>
                </input></label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Accept</button>
            </br></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_exhibitionitem})}">ExhibitionItem data </legend>

<div class="form-group has-error has-feedback" data-z="231d634d" id="exhibitionitem-exhibition-field" data-th-classappend="${#fields.hasErrors('exhibition')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ExhibitionsCollectionThymeleafController')}">
    <label for="exhibition" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_exhibition}">Exhibition</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{exhibition}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{exhibition} == null" data-th-value="*{exhibition.id}" data-th-text="*{{exhibition}}" selected="selected">Exhibition</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('exhibition')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('exhibition')}" aria-hidden="true"></span>
      <span id="exhibition-error" class="help-block" data-th-if="${#fields.hasErrors('exhibition')}" data-th-errors="*{exhibition}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="bc95da11" id="exhibitionitem-display-field" data-th-classappend="${#fields.hasErrors('display')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="display" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_display}">display</label>
  <div class="col-md-6">
    <input id="display" name="display" data-th-value="*{{display}}" type="text" class="form-control" placeholder="display" data-th-placeholder="#{label_exhibitionitem_display}" data-toggle="tooltip" aria-describedby="displayStatus" />
      <span data-th-classappend="${#fields.hasErrors('display')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('display')}" aria-hidden="true"></span>
      <span id="display-error" class="help-block" data-th-if="${#fields.hasErrors('display')}" data-th-errors="*{display}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="b57d882d" id="exhibitionitem-galleryplacement-field" data-th-classappend="${#fields.hasErrors('galleryPlacement')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="galleryPlacement" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_galleryplacement}">galleryPlacement</label>
  <div class="col-md-6">
    <input id="galleryPlacement" name="galleryPlacement" data-th-value="*{{galleryPlacement}}" type="text" class="form-control" placeholder="galleryPlacement" data-th-placeholder="#{label_exhibitionitem_galleryplacement}" data-toggle="tooltip" aria-describedby="galleryPlacementStatus" />
      <span data-th-classappend="${#fields.hasErrors('galleryPlacement')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('galleryPlacement')}" aria-hidden="true"></span>
      <span id="galleryPlacement-error" class="help-block" data-th-if="${#fields.hasErrors('galleryPlacement')}" data-th-errors="*{galleryPlacement}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="1b9afed" id="exhibitionitem-galleryreferencenumber-field" data-th-classappend="${#fields.hasErrors('galleryReferenceNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="galleryReferenceNumber" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_galleryreferencenumber}">galleryReferenceNumber</label>
  <div class="col-md-6">
    <input id="galleryReferenceNumber" name="galleryReferenceNumber" data-th-value="*{{galleryReferenceNumber}}" type="text" class="form-control" placeholder="galleryReferenceNumber" data-th-placeholder="#{label_exhibitionitem_galleryreferencenumber}" data-toggle="tooltip" aria-describedby="galleryReferenceNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('galleryReferenceNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('galleryReferenceNumber')}" aria-hidden="true"></span>
      <span id="galleryReferenceNumber-error" class="help-block" data-th-if="${#fields.hasErrors('galleryReferenceNumber')}" data-th-errors="*{galleryReferenceNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="902d82ed" id="exhibitionitem-relateditems-field" data-th-classappend="${#fields.hasErrors('relatedItems')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="relatedItems" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_relateditems}">relatedItems</label>
  <div class="col-md-6">
    <input id="relatedItems" name="relatedItems" data-th-value="*{{relatedItems}}" type="text" class="form-control" placeholder="relatedItems" data-th-placeholder="#{label_exhibitionitem_relateditems}" data-toggle="tooltip" aria-describedby="relatedItemsStatus" />
      <span data-th-classappend="${#fields.hasErrors('relatedItems')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('relatedItems')}" aria-hidden="true"></span>
      <span id="relatedItems-error" class="help-block" data-th-if="${#fields.hasErrors('relatedItems')}" data-th-errors="*{relatedItems}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="5143086d" id="exhibitionitem-requestbarcodenumber-field" data-th-classappend="${#fields.hasErrors('requestBarcodeNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="requestBarcodeNumber" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_requestbarcodenumber}">requestBarcodeNumber</label>
  <div class="col-md-6">
    <input id="requestBarcodeNumber" name="requestBarcodeNumber" data-th-value="*{{requestBarcodeNumber}}" type="text" class="form-control" placeholder="requestBarcodeNumber" data-th-placeholder="#{label_exhibitionitem_requestbarcodenumber}" data-toggle="tooltip" aria-describedby="requestBarcodeNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('requestBarcodeNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('requestBarcodeNumber')}" aria-hidden="true"></span>
      <span id="requestBarcodeNumber-error" class="help-block" data-th-if="${#fields.hasErrors('requestBarcodeNumber')}" data-th-errors="*{requestBarcodeNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-ecvm-field" data-z="b337ed0d" data-th-classappend="${#fields.hasErrors('ecvm')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="ecvm" data-th-text="#{label_exhibitionitem_ecvm}">ecvm</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{ecvm}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('ecvm')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('ecvm')}" aria-hidden="true"></span>
        <span id="ecvm-error" class="help-block" data-th-if="${#fields.hasErrors('ecvm')}" data-th-errors="*{ecvm}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6395946d" id="exhibitionitem-ecvmdate-field" data-th-classappend="${#fields.hasErrors('ecvmDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="ecvmDate" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_ecvmdate}">ecvmDate</label>
  <div class="col-md-6">
    <input id="ecvmDate" name="ecvmDate" data-th-value="*{{ecvmDate}}" type="text" class="form-control" placeholder="ecvmDate" data-th-placeholder="#{label_exhibitionitem_ecvmdate}" data-toggle="tooltip" aria-describedby="ecvmDateStatus" />
      <span data-th-classappend="${#fields.hasErrors('ecvmDate')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('ecvmDate')}" aria-hidden="true"></span>
      <span id="ecvmDate-error" class="help-block" data-th-if="${#fields.hasErrors('ecvmDate')}" data-th-errors="*{ecvmDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="84725acd" id="exhibitionitem-releasedby-field" data-th-classappend="${#fields.hasErrors('releasedBy')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="releasedBy" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_releasedby}">releasedBy</label>
  <div class="col-md-6">
    <input id="releasedBy" name="releasedBy" data-th-value="*{{releasedBy}}" type="text" class="form-control" placeholder="releasedBy" data-th-placeholder="#{label_exhibitionitem_releasedby}" data-toggle="tooltip" aria-describedby="releasedByStatus" />
      <span data-th-classappend="${#fields.hasErrors('releasedBy')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('releasedBy')}" aria-hidden="true"></span>
      <span id="releasedBy-error" class="help-block" data-th-if="${#fields.hasErrors('releasedBy')}" data-th-errors="*{releasedBy}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="67c820d1" id="exhibitionitem-requestedby-field" data-th-classappend="${#fields.hasErrors('requestedBy')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="requestedBy" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_requestedby}">requestedBy</label>
  <div class="col-md-6">
    <input id="requestedBy" name="requestedBy" data-th-value="*{{requestedBy}}" type="text" class="form-control" placeholder="requestedBy" data-th-placeholder="#{label_exhibitionitem_requestedby}" data-toggle="tooltip" aria-describedby="requestedByStatus" />
      <span data-th-classappend="${#fields.hasErrors('requestedBy')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('requestedBy')}" aria-hidden="true"></span>
      <span id="requestedBy-error" class="help-block" data-th-if="${#fields.hasErrors('requestedBy')}" data-th-errors="*{requestedBy}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="b4552d8d" id="exhibitionitem-measuementfordisplay-field" data-th-classappend="${#fields.hasErrors('measuementForDisplay')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="measuementForDisplay" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_measuementfordisplay}">measuementForDisplay</label>
  <div class="col-md-6">
    <input id="measuementForDisplay" name="measuementForDisplay" data-th-value="*{{measuementForDisplay}}" type="text" class="form-control" placeholder="measuementForDisplay" data-th-placeholder="#{label_exhibitionitem_measuementfordisplay}" data-toggle="tooltip" aria-describedby="measuementForDisplayStatus" />
      <span data-th-classappend="${#fields.hasErrors('measuementForDisplay')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('measuementForDisplay')}" aria-hidden="true"></span>
      <span id="measuementForDisplay-error" class="help-block" data-th-if="${#fields.hasErrors('measuementForDisplay')}" data-th-errors="*{measuementForDisplay}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="5a7e43f1" id="exhibitionitem-treasuresgalleryiteration-field" data-th-classappend="${#fields.hasErrors('treasuresGalleryIteration')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="treasuresGalleryIteration" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_treasuresgalleryiteration}">treasuresGalleryIteration</label>
  <div class="col-md-6">
    <input id="treasuresGalleryIteration" name="treasuresGalleryIteration" data-th-value="*{{treasuresGalleryIteration}}" type="text" class="form-control" placeholder="treasuresGalleryIteration" data-th-placeholder="#{label_exhibitionitem_treasuresgalleryiteration}" data-toggle="tooltip" aria-describedby="treasuresGalleryIterationStatus" />
      <span data-th-classappend="${#fields.hasErrors('treasuresGalleryIteration')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('treasuresGalleryIteration')}" aria-hidden="true"></span>
      <span id="treasuresGalleryIteration-error" class="help-block" data-th-if="${#fields.hasErrors('treasuresGalleryIteration')}" data-th-errors="*{treasuresGalleryIteration}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-installedon-field" data-z="dc289e51" data-th-classappend="${#fields.hasErrors('installedOn')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="installedOn" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_installedon}">installedOn</label>
  <div class="col-md-3">
    <input id="installedOn" name="installedOn" data-th-value="*{{installedOn}}" type="text" class="form-control datetimepicker" placeholder="installedOn" data-th-placeholder="#{label_exhibitionitem_installedon}" data-th-attr="data-dateformat=${installedOn_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('installedOn')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('installedOn')}" aria-hidden="true"></span>
     <span id="installedOn-error" class="help-block" data-th-if="${#fields.hasErrors('installedOn')}" data-th-errors="*{installedOn}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-deinstalledon-field" data-z="e21b89f1" data-th-classappend="${#fields.hasErrors('deinstalledOn')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="deinstalledOn" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_deinstalledon}">deinstalledOn</label>
  <div class="col-md-3">
    <input id="deinstalledOn" name="deinstalledOn" data-th-value="*{{deinstalledOn}}" type="text" class="form-control datetimepicker" placeholder="deinstalledOn" data-th-placeholder="#{label_exhibitionitem_deinstalledon}" data-th-attr="data-dateformat=${deinstalledOn_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('deinstalledOn')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('deinstalledOn')}" aria-hidden="true"></span>
     <span id="deinstalledOn-error" class="help-block" data-th-if="${#fields.hasErrors('deinstalledOn')}" data-th-errors="*{deinstalledOn}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="eea729b1" id="exhibitionitem-theme-field" data-th-classappend="${#fields.hasErrors('theme')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="theme" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_theme}">theme</label>
  <div class="col-md-6">
    <input id="theme" name="theme" data-th-value="*{{theme}}" type="text" class="form-control" placeholder="theme" data-th-placeholder="#{label_exhibitionitem_theme}" data-toggle="tooltip" aria-describedby="themeStatus" />
      <span data-th-classappend="${#fields.hasErrors('theme')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('theme')}" aria-hidden="true"></span>
      <span id="theme-error" class="help-block" data-th-if="${#fields.hasErrors('theme')}" data-th-errors="*{theme}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cdc37431" id="exhibitionitem-story-field" data-th-classappend="${#fields.hasErrors('story')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="story" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_story}">story</label>
  <div class="col-md-6">
    <input id="story" name="story" data-th-value="*{{story}}" type="text" class="form-control" placeholder="story" data-th-placeholder="#{label_exhibitionitem_story}" data-toggle="tooltip" aria-describedby="storyStatus" />
      <span data-th-classappend="${#fields.hasErrors('story')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('story')}" aria-hidden="true"></span>
      <span id="story-error" class="help-block" data-th-if="${#fields.hasErrors('story')}" data-th-errors="*{story}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="4b1d8acd" id="exhibitionitem-captionshort-field" data-th-classappend="${#fields.hasErrors('captionShort')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="captionShort" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_captionshort}">captionShort</label>
  <div class="col-md-6">
    <input id="captionShort" name="captionShort" data-th-value="*{{captionShort}}" type="text" class="form-control" placeholder="captionShort" data-th-placeholder="#{label_exhibitionitem_captionshort}" data-toggle="tooltip" aria-describedby="captionShortStatus" />
      <span data-th-classappend="${#fields.hasErrors('captionShort')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('captionShort')}" aria-hidden="true"></span>
      <span id="captionShort-error" class="help-block" data-th-if="${#fields.hasErrors('captionShort')}" data-th-errors="*{captionShort}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="82e06931" id="exhibitionitem-captionlong-field" data-th-classappend="${#fields.hasErrors('captionLong')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="captionLong" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_captionlong}">captionLong</label>
  <div class="col-md-6">
    <input id="captionLong" name="captionLong" data-th-value="*{{captionLong}}" type="text" class="form-control" placeholder="captionLong" data-th-placeholder="#{label_exhibitionitem_captionlong}" data-toggle="tooltip" aria-describedby="captionLongStatus" />
      <span data-th-classappend="${#fields.hasErrors('captionLong')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('captionLong')}" aria-hidden="true"></span>
      <span id="captionLong-error" class="help-block" data-th-if="${#fields.hasErrors('captionLong')}" data-th-errors="*{captionLong}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-permissionrequested-field" data-z="3560e351" data-th-classappend="${#fields.hasErrors('permissionRequested')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="permissionRequested" data-th-text="#{label_exhibitionitem_permissionrequested}">permissionRequested</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{permissionRequested}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('permissionRequested')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('permissionRequested')}" aria-hidden="true"></span>
        <span id="permissionRequested-error" class="help-block" data-th-if="${#fields.hasErrors('permissionRequested')}" data-th-errors="*{permissionRequested}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="5b02280d" id="exhibitionitem-permissiongrantedfor-field" data-th-classappend="${#fields.hasErrors('permissionGrantedFor')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="permissionGrantedFor" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_permissiongrantedfor}">permissionGrantedFor</label>
  <div class="col-md-6">
    <input id="permissionGrantedFor" name="permissionGrantedFor" data-th-value="*{{permissionGrantedFor}}" type="text" class="form-control" placeholder="permissionGrantedFor" data-th-placeholder="#{label_exhibitionitem_permissiongrantedfor}" data-toggle="tooltip" aria-describedby="permissionGrantedForStatus" />
      <span data-th-classappend="${#fields.hasErrors('permissionGrantedFor')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('permissionGrantedFor')}" aria-hidden="true"></span>
      <span id="permissionGrantedFor-error" class="help-block" data-th-if="${#fields.hasErrors('permissionGrantedFor')}" data-th-errors="*{permissionGrantedFor}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-pinkcompleted-field" data-z="5526f611" data-th-classappend="${#fields.hasErrors('pinkCompleted')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="pinkCompleted" data-th-text="#{label_exhibitionitem_pinkcompleted}">pinkCompleted</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{pinkCompleted}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('pinkCompleted')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('pinkCompleted')}" aria-hidden="true"></span>
        <span id="pinkCompleted-error" class="help-block" data-th-if="${#fields.hasErrors('pinkCompleted')}" data-th-errors="*{pinkCompleted}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-isitemdigitised-field" data-z="6c8b30f1" data-th-classappend="${#fields.hasErrors('isItemDigitised')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="isItemDigitised" data-th-text="#{label_exhibitionitem_isitemdigitised}">isItemDigitised</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{isItemDigitised}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('isItemDigitised')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('isItemDigitised')}" aria-hidden="true"></span>
        <span id="isItemDigitised-error" class="help-block" data-th-if="${#fields.hasErrors('isItemDigitised')}" data-th-errors="*{isItemDigitised}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" id="exhibitionitem-digitisationrequired-field" data-z="8b450c2d" data-th-classappend="${#fields.hasErrors('digitisationRequired')}? 'has-error has-feedback'" data-th-class="form-group">
  <label class="col-md-3 control-label" for="digitisationRequired" data-th-text="#{label_exhibitionitem_digitisationrequired}">digitisationRequired</label>
  <div class="col-md-6">
    <div class="checkbox">
      <input type="checkbox" data-th-field="*{digitisationRequired}" data-th-title="#{label_requiredfield}" data-toggle="tooltip" />
       <span data-th-classappend="${#fields.hasErrors('digitisationRequired')}? 'form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('digitisationRequired')}" aria-hidden="true"></span>
        <span id="digitisationRequired-error" class="help-block" data-th-if="${#fields.hasErrors('digitisationRequired')}" data-th-errors="*{digitisationRequired}">Error message.</span>
    </div>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cb87f6b1" id="exhibitionitem-digitisationdetails-field" data-th-classappend="${#fields.hasErrors('digitisationDetails')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="digitisationDetails" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_digitisationdetails}">digitisationDetails</label>
  <div class="col-md-6">
    <input id="digitisationDetails" name="digitisationDetails" data-th-value="*{{digitisationDetails}}" type="text" class="form-control" placeholder="digitisationDetails" data-th-placeholder="#{label_exhibitionitem_digitisationdetails}" data-toggle="tooltip" aria-describedby="digitisationDetailsStatus" />
      <span data-th-classappend="${#fields.hasErrors('digitisationDetails')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('digitisationDetails')}" aria-hidden="true"></span>
      <span id="digitisationDetails-error" class="help-block" data-th-if="${#fields.hasErrors('digitisationDetails')}" data-th-errors="*{digitisationDetails}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="fee1df51" id="exhibitionitem-digitisationnotes-field" data-th-classappend="${#fields.hasErrors('digitisationNotes')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="digitisationNotes" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_digitisationnotes}">digitisationNotes</label>
  <div class="col-md-6">
    <input id="digitisationNotes" name="digitisationNotes" data-th-value="*{{digitisationNotes}}" type="text" class="form-control" placeholder="digitisationNotes" data-th-placeholder="#{label_exhibitionitem_digitisationnotes}" data-toggle="tooltip" aria-describedby="digitisationNotesStatus" />
      <span data-th-classappend="${#fields.hasErrors('digitisationNotes')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('digitisationNotes')}" aria-hidden="true"></span>
      <span id="digitisationNotes-error" class="help-block" data-th-if="${#fields.hasErrors('digitisationNotes')}" data-th-errors="*{digitisationNotes}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="3f09444d" id="exhibitionitem-dlcjobnumber-field" data-th-classappend="${#fields.hasErrors('dlcJobNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="dlcJobNumber" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_dlcjobnumber}">dlcJobNumber</label>
  <div class="col-md-6">
    <input id="dlcJobNumber" name="dlcJobNumber" data-th-value="*{{dlcJobNumber}}" type="text" class="form-control" placeholder="dlcJobNumber" data-th-placeholder="#{label_exhibitionitem_dlcjobnumber}" data-toggle="tooltip" aria-describedby="dlcJobNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('dlcJobNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('dlcJobNumber')}" aria-hidden="true"></span>
      <span id="dlcJobNumber-error" class="help-block" data-th-if="${#fields.hasErrors('dlcJobNumber')}" data-th-errors="*{dlcJobNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="605be72d" id="exhibitionitem-reproductionmedium-field" data-th-classappend="${#fields.hasErrors('reproductionMedium')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="reproductionMedium" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_reproductionmedium}">reproductionMedium</label>
  <div class="col-md-6">
    <input id="reproductionMedium" name="reproductionMedium" data-th-value="*{{reproductionMedium}}" type="text" class="form-control" placeholder="reproductionMedium" data-th-placeholder="#{label_exhibitionitem_reproductionmedium}" data-toggle="tooltip" aria-describedby="reproductionMediumStatus" />
      <span data-th-classappend="${#fields.hasErrors('reproductionMedium')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('reproductionMedium')}" aria-hidden="true"></span>
      <span id="reproductionMedium-error" class="help-block" data-th-if="${#fields.hasErrors('reproductionMedium')}" data-th-errors="*{reproductionMedium}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="28ad5471" id="exhibitionitem-reproductiondetails-field" data-th-classappend="${#fields.hasErrors('reproductionDetails')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="reproductionDetails" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_reproductiondetails}">reproductionDetails</label>
  <div class="col-md-6">
    <input id="reproductionDetails" name="reproductionDetails" data-th-value="*{{reproductionDetails}}" type="text" class="form-control" placeholder="reproductionDetails" data-th-placeholder="#{label_exhibitionitem_reproductiondetails}" data-toggle="tooltip" aria-describedby="reproductionDetailsStatus" />
      <span data-th-classappend="${#fields.hasErrors('reproductionDetails')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('reproductionDetails')}" aria-hidden="true"></span>
      <span id="reproductionDetails-error" class="help-block" data-th-if="${#fields.hasErrors('reproductionDetails')}" data-th-errors="*{reproductionDetails}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="878f6bf1" id="exhibitionitem-eitem-field" data-th-classappend="${#fields.hasErrors('eItem')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('CollectionItemsCollectionThymeleafController')}">
    <label for="eItem" class="col-md-3 control-label" data-th-text="#{label_exhibitionitem_eitem}">CollectionItem</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{eItem}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{eItem} == null" data-th-value="*{eItem.id}" data-th-text="*{{eItem}}" selected="selected">CollectionItem</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('eItem')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('eItem')}" aria-hidden="true"></span>
      <span id="eItem-error" class="help-block" data-th-if="${#fields.hasErrors('eItem')}" data-th-errors="*{eItem}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
