<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_treatment})}|">Show Treatment - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${treatment}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_treatment})}">Show Treatment</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_treatment})}">Treatment data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="treatment-titem-field" data-z="dc350331">
            	      <strong data-th-text="#{label_treatment_titem}">tItem</strong>
                    <span data-th-text="*{{tItem}}">tItemValue</span>
         	        </li>
                  <li id="treatment-conservator-field" data-z="549cb0b1">
            	      <strong data-th-text="#{label_treatment_conservator}">conservator</strong>
                    <span data-th-text="*{{conservator}}">conservatorValue</span>
         	        </li>
                  <li id="treatment-tasktype-field" data-z="b7445bcd">
            	      <strong data-th-text="#{label_treatment_tasktype}">taskType</strong>
                    <span data-th-text="*{{taskType}}">taskTypeValue</span>
         	        </li>
                  <li id="treatment-timespent-field" data-z="990ad6b1">
            	      <strong data-th-text="#{label_treatment_timespent}">timeSpent</strong>
                    <span data-th-text="*{{timeSpent}}">timeSpentValue</span>
         	        </li>
                  <li id="treatment-createddate-field" data-z="848ea7d1">
            	      <strong data-th-text="#{label_treatment_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="treatment-createdby-field" data-z="b58c5b31">
            	      <strong data-th-text="#{label_treatment_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="treatment-modifieddate-field" data-z="7b427dcd">
            	      <strong data-th-text="#{label_treatment_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="treatment-modifiedby-field" data-z="21f5802d">
            	      <strong data-th-text="#{label_treatment_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Treatment_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('TreatmentsItemThymeleafController').to('editForm').with('treatment', treatment.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="Treatment_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('TreatmentsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
