<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_digitalobject})}|">Show DigitalObject - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${digitalObject}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="digitalobject-doitem-field" data-z="2edee4cc">
            	      <strong data-th-text="#{label_digitalobject_doitem}">doItem</strong>
                    <span data-th-text="*{{doItem}}">doItemValue</span>
         	        </li>
                  <li id="digitalobject-caption-field" data-z="39248132">
            	      <strong data-th-text="#{label_digitalobject_caption}">caption</strong>
                    <span data-th-text="*{{caption}}">captionValue</span>
         	        </li>
                  <li id="digitalobject-filename-field" data-z="c804d04c">
            	      <strong data-th-text="#{label_digitalobject_filename}">filename</strong>
                    <span data-th-text="*{{filename}}">filenameValue</span>
         	        </li>
                  <li id="digitalobject-format-field" data-z="ae7ba18c">
            	      <strong data-th-text="#{label_digitalobject_format}">format</strong>
                    <span data-th-text="*{{format}}">formatValue</span>
         	        </li>
                  <li id="digitalobject-photo-field" data-z="a7967072">
            	      <strong data-th-text="#{label_digitalobject_photo}">photo</strong>
                    <span data-th-text="*{{photo}}">photoValue</span>
         	        </li>
                  <li id="digitalobject-referenceurl-field" data-z="6efe1e0c">
            	      <strong data-th-text="#{label_digitalobject_referenceurl}">referenceUrl</strong>
                    <span data-th-text="*{{referenceUrl}}">referenceUrlValue</span>
         	        </li>
                  <li id="digitalobject-createddate-field" data-z="2d5f15d2">
            	      <strong data-th-text="#{label_digitalobject_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="digitalobject-createdby-field" data-z="5ff25572">
            	      <strong data-th-text="#{label_digitalobject_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="digitalobject-modifieddate-field" data-z="ec7fcfec">
            	      <strong data-th-text="#{label_digitalobject_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="digitalobject-modifiedby-field" data-z="c44ece0c">
            	      <strong data-th-text="#{label_digitalobject_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
