<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="loanitems-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('LoansItemLoanItemsThymeleafController')}">
    <table id="loanitems-detail-table-item-to-remove" data-parent-table="loan-entity-table" data-data-parent-id="${loan != null ? loan.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('loan', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="loan" data-th-text="#{label_loan_loanitems_loan}">loan</th>
              <th data-data="placement" data-th-text="#{label_loan_loanitems_placement}">placement</th>
              <th data-data="supportType" data-th-text="#{label_loan_loanitems_supporttype}">supportType</th>
              <th data-data="supportNotes" data-th-text="#{label_loan_loanitems_supportnotes}">supportNotes</th>
              <th data-data="lightLevels" data-th-text="#{label_loan_loanitems_lightlevels}">lightLevels</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>loan</td>
              <td>placement</td>
              <td>supportType</td>
              <td>supportNotes</td>
              <td>lightLevels</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->